
.container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px;
}

.star {
  position: relative;
  width: 100%;
  height: 100%;
  
}


.cut {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid black; 
  box-sizing: border-box;
}

.top-left {
  top: -50%;
  left: -50%;
 
}

.top-right {
  top: -50%;
  right: -50%;
}

.bottom-left {
  bottom: -50%;
  left: -50%;
}

.bottom-right {
  bottom: -50%;
  right: -50%;
}


.container {
  overflow: hidden; 
}
