body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0B2429;
  }
  div {
    width: 120px;
    height: 120px;
    background: #998235;
    border-radius: 50% 0 50% 50%
  }
  #top-rigth, #bottom-left {
    position: relative;
    background: #F3AC3C;
  }
  #top-rigth {
    right: 60px;
    bottom: 60px;
    border-radius: 50%;
    z-index: -1;
  }
  #bottom-left {
    left: 60px;
    top: 60px;
  }