.div1{
    height: 70px;
    width: 150px;
    box-sizing: border-box;
    border-color: green;
    border-style: solid;
}
.div2{
    height: 150px;
    width: 70px;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
}
.div3{
height: 80px;
width: 80px;
box-sizing: border-box;
border-color: yellow;
border-style: solid;
margin-left: 70px;
margin-top: -150px;
}
.div4{
    height: 70px;
    width: 150px;
    box-sizing: border-box;
    border-color: skyblue;
    border-style: solid;
    margin-left: 70px;
}

.div5{
    height: 150px;
    width: 70px;
    box-sizing: border-box;
    border-color: red;
    border-style: solid;
    margin-left: 150px;
    margin-top: -220px;
}