
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Playfair+Display:ital,wght@1,700&display=swap');

*/
.main-title {
    font-size: 36px;
    font-family: Arial,  sans-serif;
    text-align: center;
    text-transform: uppercase;
}


.section-title {
    font-size: 24px;
    font-family: Georgia, serif;
    letter-spacing: 2px;
}

.text-one {
    font-size: 18px;
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.8;
    text-align: justify;
}


.text-two {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: italic;
    word-spacing: 6px;
}


.text-three {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-align: right;
}


.main-link {
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
    text-decoration: underline;
    text-decoration-style: double;
    font-style: italic;
}


.pre-text {
    white-space: pre;
}


.box {
    width: 100%;
    height: 150px;
}


.box-one {
    background-color: blue;
}


.box-two {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR40T0cQ5DAD_MBZj5bUrFRpiTz9EE9_AzssA&s");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.box-three {
    background-image: url("https://portal.azertag.az/sites/default/files/akula2.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 30px;
}