.div1{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: red;
    margin: 5px;
    

}
.div2{
    box-sizing: border-box;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: blue;
}
.div3{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: green;
    margin-left: 60px;
    margin-top: -110px;
}
.div4{
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    width: 50px;
    height: 50px;
    margin-left: 60px;
    margin-top: 5px;
}
.div5{
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-color: yellow;
    border-style: solid;
    margin-left: 75px;
    margin-top: -35px;
    border-radius: 100%;
}