body {
    background: #191919;
    padding: 12px;
  }
  div {
    width: 40px;
    height: 40px;
    background: #F6E59C;
    border-radius: 50%;
    box-shadow: 60px 0px, 120px 0px, 180px 0px, 0px 60px, 60px 60px, 120px 60px, 0px 120px, 60px 120px, 0px 180px;
    color: #F6E59C;
  }