*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 60px 120px 60px;
    gap: 10px;
    padding: 20px;
    

}
.box1{
    background-color: #f77f5a;
    grid-column: 1/4;
}
.box2{
    background-color: #16a085;
}
.box3{
    background-color: #ff5c5c;
    grid-column: 2/4;
}
.box4{
    background-color:#48c9b0 ;
    grid-column: 1/4;
}