*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{


    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}



  .container {
    gap: 10px;
    display: grid;
    width: 90%;
    height: 90vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

.g{
    background: blue;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g12{
    grid-column: span 12;
}

.g6{
    grid-column: span 6;
}

.g4{
    grid-column: span 4;
}

.g3{
    grid-column: span 3;
}

.g2{
    grid-column: span 2;
}
.g1{
    grid-column: span 1;
}
