.container {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 100px;
}

.star {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cut {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border: 2px solid black;
    border-radius: 50%;
}

.top-left {
    top: -50%;
    left: -50%;
}

.top-right {
    top: -50%;
    right: -50%;
}

.bottom-left {
    bottom: -50%;
    left: -50%;
}

.bottom-right {
    bottom: -50%;
    right: -50%;
}

.center-circle {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 2px solid black;
    background-color: red;
}