.container{
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #0D1335;
    display:flex;
    flex-direction: column;
}
.r1{position: relative;
    top:40%;
    display: flex;
    align-self: center;
width: 200px;
height: 100px;
border: 10px solid #ffffff;
border-radius: 50%;
}

.r2{position: relative;
    top:10%;
   display: flex;
    align-self: center; 
width: 200px;
height: 100px;
border: 10px solid #DC6638;
border-radius: 50%;
transform: rotate(-125deg);

}
.r3{position: relative;
    bottom: 20%;
    display: flex;
    align-self: center;
width: 200px;
height: 100px;
border: 10px solid #4FA07B;
border-radius: 50%;
transform: rotate(125deg);
}
.round{
   position: relative;
   bottom:39%;
    display: flex;
    align-self: center;
    width: 35px;
    aspect-ratio: 1/1;
    background-color:  #73C6EA;
    border-radius: 100%;
}