body {
font-family: Arial;
text-align: center;
background: #f4f4f4;
}

.board {
display: grid;
grid-template-columns: repeat(3, 120px);
gap: 6px;
justify-content: center;
margin: 20px auto;
}

.cell {
width: 120px;
height: 120px;
background: white;
border: 2px solid black;
cursor: pointer;
position: relative;
}

/* X (зелёный) */

.cell.x::before,
.cell.x::after {
content: "";
position: absolute;
width: 70px;
height: 10px;
background: green;
top: 50%;
left: 50%;
transform-origin: center;
}

.cell.x::before {
transform: translate(-50%, -50%) rotate(45deg);
}

.cell.x::after {
transform: translate(-50%, -50%) rotate(-45deg);
}


/* O (синий) */

.cell.o::before {
content: "";
position: absolute;
width: 70px;
height: 70px;
border: 10px solid blue;
border-radius: 50%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}