* {
  margin: 0;
  padding: 0;
}


.container{
    background: #C74E4E;
    width: 400px;
    height: 300px;
    
    padding: 90px;
}


.row{
    border: 1px solid #000;
     

}

.round{
    width: 20px;
    aspect-ratio: 1/1;
    background: #FFFFFF;
    border-radius: 50%;
}

.box{
    width: 20px;
    aspect-ratio: 1/1;
    background: #E0E246;
    border-radius: 5px;
}
