* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
    background: #C74E4E;
    width: 400px;
    height: 300px;
    gap: 5px
    ;
    padding: 90px;
    display: flex;
    flex-direction: column;
}


.row{

     
    display: flex;
    
}

.r1{
    justify-content: space-between;
}

.r2{
    flex-direction: column;
    align-items: end;
    gap: 5px;
}

.r3{
    justify-content: end;
    gap: 5px;
}

.inner{
    display: flex;
    gap: 5px;
}



.round{
    width: 20px;
    aspect-ratio: 1/1;
    background: #FFFFFF;
    border-radius: 50%;
}

.box{
    width: 20px;
    aspect-ratio: 1/1;
    background: #E0E246;
    border-radius: 5px;
}
