*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #DE3832;
    margin: 0px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
  }
  div {
    width: 110px;
    height: 110px;
    background: #33499F;
    box-shadow: 0px 0px 0px 15px #FFFFFF;
  }
  .long {
    width: 210px;
  }