.div1{
    height: 0;
    width: 0;
    border-left: 50px solid white;
    border-bottom: 100px solid green;
    border-right: 50px solid white;
    border-top: 50px solid white;
    margin-left: 100px;
    margin-top: 100px;
}
.div2{
    height: 100px;
    width: 50px;
    border-color: green;
    border-style: solid;
    background-color: green;
    margin-left: 122px;
}